/* general style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

p {
  margin: 0;
}

textarea {
  resize: none;
}

.instap {
  background: #101010;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
}

/* nav style */
.navbar {
  padding: 60px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  background-image: linear-gradient(
    #834906,
    #e5b350,
    #ffffbe,
    #f5d36f,
    #774300
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.navbar-nav {
  gap: 30px;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

.btn-login-reg {
  background-color: #2a282b;
  height: 54px;
  padding: 12px 42px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #fff;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 500;
}

/* main style */
.slider {
  background-color: rgba(16, 16, 16, 1);
  display: flex;
  height: 700px;
  max-width: 100%;
  max-height: 100%;
}

.slider img {
  width: 991px;
  height: 700px;
  max-height: 100%;
  max-width: 100%;
}

.slider-content {
  flex: 10;
  display: flex;
  justify-content: end;
  position: relative;
}

.slider-content .slider-item:first-child {
  flex: 1;
  display: flex;
  align-items: flex-start;
}

.slider-dots {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.item-dots {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item-dots span {
  color: #494949;
  font-weight: 900;
  font-size: 11px;
  font-family: "Noto Serif JP";
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.item-dots span.active {
  color: #d6a345;

  font-size: 24px;
}

.slider-item {
  width: 991px;
  max-width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.slider-item.active {
  display: block;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.slider-item-over img {
  width: 991px;

  max-width: 100%;
  max-height: 100%;
}

.slider-item-over {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  position: absolute;
  top: 11%;
  left: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 590px;
  height: 469px;
  padding: 16px;
}

.slider-item-over h3 {
  font-size: 54px;
  text-align: center;
  font-weight: 900;
  font-family: "Noto Serif JP";
  background-image: linear-gradient(
    rgba(224, 224, 224, 1),
    rgba(255, 255, 255, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slider-item-over h3 span {
  background-image: linear-gradient(
    rgba(193, 140, 53, 1),
    rgba(248, 224, 135, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slider-item-over p {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  font-family: "Product Sans";
  line-height: 30px;
  width: 446px;
}

.slider-item-over a {
  background: rgba(214, 163, 69, 1);
  padding: 17px 40px;
  border-radius: 8px;
  height: 74px;
  border: none;
  color: rgba(21, 21, 21, 1);
  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* slider end  */
.why-instap {
  background: #262628;
  padding: 60px 100px;
}

.why-instap-top {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.why-instap-top-title {
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 54px;
  font-family: "Noto Serif JP";
  line-height: 77.6px;
}

.why-instap-top-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  font-family: "Product Sans";
}

.why-items {
  background: #0a0a0a;
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.why-items h2 {
  color: #fff;
  font-weight: 900;
  font-size: 54px;
  font-family: "Noto Serif JP";
}

.why-items span {
  font-weight: 700;
  color: #fff;
  font-size: 24px;
  font-family: "Product Sans";
}

.why-items p {
  letter-spacing: 1%;
  font-weight: 400;
  font-size: 16px;
  font-family: "Product Sans";
  color: #fff;
}

.about-us {
  padding: 60px 100px;
  background-color: #0a0a0a;
}

.about-us .container,
.why-instap .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about-us-top {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about-us-top-title {
  color: #fff;
  font-weight: 900;
  font-size: 54px;
  line-height: 77.6px;
  font-family: "Noto Serif JP";
}

.about-us-top-desc {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1%;
  line-height: 30px;
  font-family: "Product Sans";
  font-weight: 400;
  color: #fff;
}

.about-us-item {
  background: #262628;
  height: 100%;
}

.cards {
  padding: 60px 0px;
  background: #262628;
}

.cards img {
  max-width: 100%;
}

.cards .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cards-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.cards-top-title {
  color: #fff;
  font-weight: 900;
  font-size: 54px;
}

.cards-top-desc {
  text-align: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1%;
  font-weight: 400;
  line-height: 30px;
  width: 65%;
}

.cards-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #0a0a0a;
  padding: 24px 32px;
  border-radius: 16px;
}

.card-items-title {
  color: #fff;
  font-weight: 700;
  font-size: 54px;
  font-family: "Product Sans";
}

.choose-card {
  padding: 60px 0px;
  background: #101010;
}

.choose-card img {
  max-width: 100%;
}

.choose-card .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.choose-card-top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.choose-card-top-title {
  color: #fff;
  font-weight: 900;
  font-size: 54px;
  font-family: "Noto Serif JP";
}

.choose-card-top-desc {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  font-family: "Product Sans";
  text-align: center;
  width: 65%;
}

.choose-card-item {
  background: #0a0a0a;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-us {
  padding: 60px 0px;
  background: #262628;
}

.contact-us .container {
  background: #0a0a0a;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 30px;
  position: relative;
}

.contact-us-top {
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.contact-us-top-title {
  color: #fff;
  font-weight: 900;
  font-size: 54px;
  font-family: "Noto Serif JP";
}

.contact-us-top-desc {
  color: #fff;
  font-size: 20px;
  width: 65%;
  font-family: "Product Sans";
  font-weight: 400;
  text-align: center;
}

form {
  background: #262628;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 500px;
  max-width: 100%;
}

.form-label {
  color: #878787;
  font-weight: 400;
  font-size: 14px;
  font-family: "Product Sans";
}

.contact-us form .form-control,
.contact-us form .form-control:focus {
  background: #101010;
  height: 54px;
  padding: 17px 16px;
}

form .form-control,
form .form-control:focus {
  background: transparent;
  border-radius: 12px;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  outline: none;
}

.btn-form {
  background: #d6a345;
  border: none;
  padding: 17px 40px;
  border-radius: 8px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #151515;
  font-size: 20px;
  font-weight: 700;
  font-family: "Proxima Nova";
}

.img-contact {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.say-goodbye {
  background: #0a0a0a;
  padding: 60px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.say-goodbye p {
  color: #fff;
  font-weight: 900;
  font-size: 34px;
  font-family: "Noto Serif JP";
  line-height: 48.86px;
  text-align: center;
  text-transform: capitalize;
  width: 69%;
}

/* footer style */

footer {
  padding-top: 60px;
  background-color: #a36c1e;
}

.footer-items {
  display: flex;
  gap: 81px;
}

.footer-item {
  flex: 1;
}

.footer-item,
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-desc {
  color: #eee;
  font-weight: 400;
  font-size: 15px;
}

.footer-item-title {
  color: #fff;
  font-weight: 700;
  font-size: 17px;
}

.footer-list li a {
  color: #eee;
  font-weight: 400;
  font-size: 15px;
}

/* payment method page */
.payment {
  padding: 60px 0px;
}

.card-order {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card-order-top {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-order-top h1 {
  color: #e0e0e0;
  font-size: 54px;
  font-weight: 900;
  font-family: "Noto Serif JP";
}

.card-order-top p {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  font-family: "Product Sans";
}

.form-payment {
  background: transparent;
  width: 100%;
}

.payment-input-item {
  background: #262628;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 8px;
  height: 74px;
}

.form-control,
.form-control:focus {
  padding: 0px;
  height: auto;
  background: transparent;
}

.form-label {
  margin: 0;
}

.invalid-feedback {
  color: #9c6717;
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin-left: 25px;
}

.upload {
  background: #262628;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 182.33px;
  color: #fff;
  gap: 8px;
  flex-direction: column;
  border: 1px dotted #fff;
  padding: 24px;
}

.upload-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.upload p {
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-family: "Product Sans";
  font-family: 400;
  font-style: italic;
}

.btn-form-payment {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d6a345;
  border-radius: 8px;
  padding: 17px 40px;
  height: 74px;
  width: 100%;
  border: none;
  color: #151515;
  font-weight: 700;
  font-size: 20px;
}

.card-images {
  display: flex;
  flex-direction: column;
  background: #262628;
  gap: 40px;
  padding: 40px 40px 40px 30px;
  border-radius: 16px;
  min-height: 676px;
}

.modal-content {
  background: #262628;
  padding: 34px;
  min-height: 659px;
  border-radius: 16px;
  min-width: 718px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-header,
.modal-footer {
  border-bottom: none;
  border-top: none;
  width: 100%;
}

.modal-header {
  flex-direction: column;
  gap: 8px;
}

.modal-header h5 {
  color: #e0e0e0;
  font-weight: 900;
  font-size: 44px;
  font-family: "Noto Serif JP";
}

.modal-header p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: "Product Sans";
}

.modal-header p > span {
  font-weight: 700;
}

.modal-header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-header-title p {
  text-align: center;
}

.btn-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  background: #d6a345;
  padding: 17px 40px;
  height: 74px;
  border: none;
  border-radius: 8px;
  color: #151515;
  font-weight: 700;
  font-size: 20px;
  font-family: "Proxima Nova";
}

.btn-confirm:hover {
  background: transparent;
  color: #d6a345;
}

/* payment form page style 3 step*/
.section-pay {
  padding-bottom: 20px;
}

.section-pay .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pay {
  background: #262628;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 16px;
  min-height: 1058px;
  /* min-width: 638px; */
}

.pay-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

.pay-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.arrow {
  background: #101010;
  width: 42px;
  height: 42px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow svg {
  background-color: #262628;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.pay-title h1,
.total-pay {
  color: #e0e0e0;
  font-size: 42px;
  font-weight: 900;
  font-family: "Noto Serif JP";
}

.form-pay {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 496px;
  /* min-width: 590px; */
}

.form-pay-title {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  font-family: "Product Sans";
}

.bg-form {
  background: #181818;
  padding: 24px;
  height: 74px;
  border-radius: 8px;
}

.credit-visa {
  display: flex;
  justify-content: space-between;
}

.credit {
  display: flex;
  align-items: center;
  gap: 8px;
}

.credit p {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  font-family: "Product Sans";
}

.input-pay {
  display: flex;
  flex-direction: column;
}

.input-pay label {
  color: #868686;
  font-size: 14px;
  font-family: "Product Sans";
  font-weight: 400;
}

.input-pay input {
  border: none;
  padding: 0px 0px 0px 8px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Product Sans";
}

.form-control:focus,
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  box-shadow: none;
}

.user-details {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.paypal,
.cash-on-delivery {
  background-color: #181818;
  padding: 24px;
  height: 74px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  opacity: 40%;
}

.form-check-label {
  font-size: 16px;
  font-family: "Product Sans";
  font-weight: 400;
  color: #fff;
}

/* Conratulation page style */
.conratulation {
  padding-bottom: 20px;
}

.conratulation .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conratulation-items {
  background-color: #262628;
  min-height: 596px;
  min-width: 638px;
  max-width: 100%;
  padding: 24px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.conratulation-items h1 {
  color: #e0e0e0;
  font-weight: 900;
  font-size: 42px;
  font-family: "Noto Serif JP";
}

.conratulation-items p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  width: 542px;
  max-width: 100%;
  font-family: "Product Sans";
  text-align: center;
}

.conratulation-items .input-pay {
  width: 100%;
}

.conratulation-items .input-pay input {
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

/* online shop style */
.product-show {
  display: flex;
  background-color: #262628;
  border-radius: 10px;
  padding: 20px 0px;
  box-shadow: 0px 22px 40px 0px rgba(0, 0, 0, 0.06);
}
.images-items {
  display: flex;
  padding: 20px 20px 10px 20px;
  justify-content: space-between;
}
.product-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
}
.product-title {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.product-desc {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.price {
  color: #ca9432;
  font-size: 18px;
  font-weight: 600;
}
.change-color {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
}
.color-count {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.change-color span {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.colors {
  display: flex;
  gap: 10px;
  flex-grow: 1;
  align-items: center;
}
.color:nth-child(1) {
  background: #004a27;
}
.color:nth-child(2) {
  background: #000;
}
.color:nth-child(3) {
  background: #fff;
}
.color:nth-child(4) {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(230, 230, 230, 1));
}
.color.active {
  width: 30px;
  height: 30px;
  border: 2px solid #d6a345;
}
.counter {
  width: 95px;
  height: 34px;
  border-radius: 10px;
  background: #d6a345;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.0625);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}
.dec,
.inc {
  color: #fff;
  background: #ca9432;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-buy {
  background: #d6a345;
  border: 2px solid #d6a345;
  border-radius: 10px;
  width: 113px;
  height: 39px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin: 0px auto;
}
.see-all {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 100%;
}

.buy-now-card {
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  padding: 20px;

  background: linear-gradient(
    to right,
    rgba(214, 163, 69, 1),
    rgba(19, 35, 35, 1)
  );
}

.buy-now-items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.buy-now-items h2,
.buy-now-items span {
  color: #fff;
  font: 400;
  font-size: 29px;
}
.buy-now-items span {
  font-size: 23px;
}
.link-view {
  color: #fff;
  font-size: 19px;
  font-weight: 400;
}
.product-cards {
  padding: 30px 0px;
}
.card {
  background: #262628;
  box-shadow: 3px 8px 12px 0px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  padding: 30px 12px 10px 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 20px;
}
.card-title {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.card-price {
  font-weight: 600;
  font-size: 22px;
  color: rgba(47, 41, 41, 0.62);
}
.card-count {
  margin-left: auto;
  background-color: #d6a345;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.line1,
.line2 {
  width: 32px;
  height: 1px;
  background-color: #fff;
  border: 5px solid transparent;
  border-radius: 10px;
  position: absolute;
}
.line2 {
  background-color: #000;
  transform: rotate(90deg);
}

.explore-title {
  color: #d6a345;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.explore-card {
  background-color: #262628;
  border-radius: 16px;
  padding: 30px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.explore-card img {
  max-width: 100%;
}
.explor-btn {
  margin-top: -13%;
  width: 146px;
  height: 47px;
  padding: 12px 30px;
  border-radius: 8px;
  background: #d6a345;
  border: none;
}

/* buy product */
.product-details {
}

/* premium page */
.select-type {
  display: flex;
  justify-content: space-between;
}
.select-type .form-select {
  background-color: #181818;
  padding: 16px 24px;
  height: 54px;
  display: flex;
  gap: 16px;
  border-radius: 8px;
  width: 203px;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
.nav-tabs {
  align-items: center;
  display: flex;
  gap: 48px;
  border: none;
}
.nav-tabs .nav-link {
  padding: 0px 8px 8px 8px;
  border-radius: 4px;
  color: #fff;
  font-size: 34px;
  font-weight: 400;
  background: transparent;
}
.nav-tabs .nav-link.active {
  border: none;
  border-bottom: 3px solid #ca963c;
  padding: 0px 16px 8px 16px;
  border-radius: 8px;
  background: transparent;
  color: #fff;
  font-size: 44px;
  font-weight: 900;
}

.premium-free-card {
  background-color: #0a0a0a;
  border-radius: 16px;
  padding: 30px;
}
.premium-free-card img {
  width: 100%;
  max-width: 100%;
}

/* shop style */
.shop-main{
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 62px;
}
.select-card .container{
  background: #0A0A0A;
  min-height: 624px;
  border-radius: 16px;
  padding: 36px;
}
.img-container img{
  max-width: 100%;
}
.select-card .card-details{
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.card-details-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-details-info-data{
  height: 259.5px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  
}
.card-details-info-data-title{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card-details-info-data-title h1,.card-details-info-data-title h2{
  color: #fff;
  font-weight: 900;
  font-size: 34px;
  font-family: 'Noto Serif JP';
}
.card-details-info-data-desc{
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Product Sans';
}


.count-buy{
  display: flex;
  align-items: center;
  gap: 16px;
}
.count-buy .count{
  color: #fff;
  width: 189px;
  height: 74px;
  padding: 17px 32px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
background-color: #202020;
}
.count-buy .count span{
  cursor: pointer;
}
.count-buy .buy{
  width: 100%;
  background-color: #D6A345;
  padding: 17px 40px;
  border-radius: 8px;
height: 74px;
display: flex;
justify-content: center;
gap: 10px;
align-items: center;
color: #151515;
font-size: 20px;
font-weight: 700;
}

.available-themes .container{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.available-themes h2{
  margin: auto;
  min-width: 437px;
  min-height: 71px;
  color: #fff;
  border-bottom: 3px solid #CA963C;
  border-radius: 8px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;

}

.swiper {
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
}

.discover-more .container{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.discover-title{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.discover-title h2{
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  font-family: 'Noto Serif JP';
}
.discover-more .view-all{
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 24px 16px;
  border-radius: 8px;
  height: 54px;
}
.discover-more .view{
  color: #fff;
  font-weight: 500;
  font-size: 16px;

}

/* .swiper2 .swiper-wrapper {
  transform: translate3d(0, 0, 0) !important;
} */

.swiper2 .swiper-slide{
  background-color: #0A0A0A;
  border-radius: 16px;
  padding: 32px 36px;
}
.swiper2 .swiper-slide img{
  max-width: 100%;
}

/* .owl-carousel{
  display: block;
} */
.owl-carousel {
  display: block;
  position: relative;
  width: 100%;
}

.owl-carousel .item {
  margin-right: 18px; /* Adjust the margin to your desired spacing */
}

.owl-carousel .item{
  background-color: #0A0A0A;
  border-radius: 16px;
  padding: 32px 36px;
}
.owl-carousel .item img{
  max-width: 100%;
}
/* .owl-carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  height: auto;
} */
@media (max-width: 575.98px) {
  .navbar-light .navbar-toggler {
    background: #262628;
  }

  .navbar-brand img {
    width: 160px;
    max-width: 100%;
  }

  .navbar {
    padding: 16px 0;
  }

  .why-instap,
  .about-us,
  .say-goodbye {
    padding: 60px 0px;
  }

  .slider {
    height: 250px;
  }

  .slider-item-over {
    left: 0px;
  }

  .slider-item img {
    width: 991px;
    height: 250px;
    max-height: 100%;
    max-width: 100%;
  }

  .slider-item-over h3 {
    font-size: 20px;
  }

  .slider-item-over p {
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
  }

  .slider-item-over {
    width: 298px;
    padding: 16px;
    height: 200px;
  }

  .slider-item-over a {
    height: 45px;
    font-size: 16px;
  }

  .why-instap {
    line-height: 61px;
  }

  .why-instap-top-desc {
    line-height: 27px;
  }

  .why-items {
    gap: 0;
  }

  .why-instap p {
    line-height: 2;
  }

  .cards-top-desc,
  .choose-card-top-desc,
  .contact-us-top-desc,
  .say-goodbye p {
    width: 100%;
    font-size: 16px;
    line-height: 2;
  }

  .conratulation-items {
    min-width: 300px;
    padding: 2px;
    gap: 12px;
  }

  .conratulation-items h1 {
    font-size: 20px;
  }

  .conratulation-items p {
    font-size: 16px;
  }

  .modal-content {
    min-width: 300px;
    min-height: 265px;
  }

  .modal-content .modal-body img {
    max-width: 100%;
  }

  .modal-header h5 {
    font-size: 20px;
  }

  .modal-header p {
    font-size: 16px;
    text-align: center;
  }

  .btn-confirm {
    font-size: 16px;
  }

  form {
    padding: 0px;
  }

  .pay {
    max-width: 100%;
    padding: 5px;
  }

  .pay-title h1,
  .total-pay {
    font-size: 20px;
  }

  .footer-items {
    column-gap: 20px;
    row-gap: 0px;
  }

  .footer-item,
  .footer-list {
    gap: 10px;
  }
  .select-type {
    flex-wrap: wrap;
    gap: 10px;
  }
  .discover-title h2{
    font-size: 20px;
  }
  .count-buy .buy{
    font-size: 16px;
  }

  .available-themes h2{
    min-width:246px;
    min-height: 50px;
    font-size: 20px;
  }
}
